{% url 'home' as home_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'products:list' as product_list_url %}
{% url 'carts:home' as cart_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class='container'>
      <a class="navbar-brand" href="{{ home_url }}">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.path == home_url %}active{% endif %}">
            <a class="nav-link" href="{{home_url}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {% if request.path == product_list_url %}active{% endif %} dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="catalogs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Catalogs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{product_list_url}}">All Products</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Boss
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

        </ul>
        <ul class="navbar-nav mr-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
            <a class="nav-link" href="{{ cart_url }}">
              <span class="badge badge-dark">{{request.session.cart_items}}</span>
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
          <li class="nav-item ml-5 {% if request.path == login_url %}active{% endif %}">
            <a class="nav-link" href="{{ login_url }}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item ml-5 {% if request.path == login_url %}active{% endif %}">
            <a class="nav-link" href="{{ login_url }}">Login</a>
          </li>
          <li class="nav-item ml-5 {% if request.path == login_url %}active{% endif %}">
            <a class="nav-link" data-toggle="modal" data-target="#loginRegisterModal">Login/Register</a>
          </li>
          <li class="nav-item ml-5 {% if request.path == register_url %}active{% endif %}">
            <a class="nav-link" href="{{ register_url }}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="loginRegisterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <form method="POST" action="{{ login_url }}" > {% csrf_token %}
                <div class="mb-2">
                  <input type="text" class="form-control" placeholder="Username" name="username" />
                </div>
                <div class="mb-2">
                  <input type="password" class="form-control" placeholder="Password" name="password"/>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>