{% extends "base.html" %}
{% load static %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/tfl.css' %}">
{% endblock %}

{% block content %}
<form class="form-signin text-center" method='post' action=''>{% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Change your Password</h1>
    <input class="form-control mb-1" type="password" name="old_password" placeholder="Old Password" required="" id="id_old_password">
    <input class="form-control mb-1" type="password" name="new_password1" placeholder="New Password" required="" id="id_new_password1">
    <input class="form-control mb-5" type="password" name="new_password2" placeholder="New password confirmation" required="" id="id_new_password2">
    <button type="submit" class="btn btn-block btn-dark">Save</button>
</form>
{% endblock %}





