{% extends 'base.html' %}
{% load static %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/tfl.css' %}">
    {{ form.media }}
{% endblock %}

{% block content %}
    <h1 class="mb-3">
      <i class="fas fa-shopping-cart"></i>
    </h1>

    <div class="row">
            <div class="col-md-4">
                <form method="POST" action="{% url 'cart:checkout' %}" > {% csrf_token %}
                {{ form }}

                            <button type="submit" class="btn btn-lg btn-success">Checkout</button>
                          </form>
            </div>
            <div class="col-md-8">
                <div class="table-responsive-sm">
                  <table class="table table-sm">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" style="width: 15%">#</th>
                        <th scope="col" style="width: 50%">Product Name</th>
                        <th scope="col" style="width: 15%">Quantity</th>
                        <th scope="col" style="width: 15%">Price</th>
                        <th scope="col" style="width: 5%">Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for p in cart.products.all %}
                      <tr>
                        <th scope="row" style="width: 10%">{{ forloop.counter }}</th>
                        <td style="width: 55%">
                          <a href="{{p.product.get_absolute_url}}"> {{p.product.title}}</a>
                        </td>
                        <td style="width: 15%;">
                          <input style="height: 27px" class="form-control" type="number" value="{{ p.quantity }}" id="{{ p.product.id }}" min="1" onchange="validate_quantity({{ p.product.id }}, this.value)">
                        </td>
                        <td style="width: 15%">{{ p.product.price }}</td>
                        <td style="width: 5%">
                            <button title="Remove" style="border: None; background: None" onclick="cart_product_remove({{ p.product.id }})"><i class="fas fa-trash-alt"></i></button>
                        </td>
                      </tr>
                      {% endfor %}
                      <tr>
{#                        <td colspan="4"></td>#}
                          <td colspan="5" id="total_weight" style="text-align: right">Weight: <b>{{ cart.total_weight }}</b></td>
                      </tr>
                      <tr>
{#                        <td colspan="4"></td>#}
                        <td colspan="5" id="total_weight" style="text-align: right" id="total_price">Total: <b>{{ cart.total_price }}</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

    </div>
    <!-- Dodaje klase na padajucu listu -->
        <script>
            $(document).ready(function () {
                $('#id_company').attr('class', 'form-control mb-1 custom-select');
                $('#id_company').on('change', function () {
                    var value = $('#id_company').val();

                    set_company(value)
                })
            });
        </script>

    <!-- Modal u slucaju greske -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Error</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="error_message"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}