{% extends 'base.html' %}
{% load static %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/tfl.css' %}">
    {{ form.media }}
{% endblock %}

{% block content %}
    <h1 class="mb-3">
      <i class="fas fa-shopping-cart"></i>
    </h1>

    <div class="row">
            <div class="col-md-4">
                <form method="POST" action="{% url 'cart:checkout' %}" > {% csrf_token %}
                {{ form }}

                            <button type="submit" class="btn btn-lg btn-success">Checkout</button>
                          </form>
            </div>
            <div class="col-md-8">
                <div class="table-responsive-sm">
                  <table class="table table-sm">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" style="width: 15%">#</th>
                        <th scope="col" style="width: 50%">Product Name</th>
                        <th scope="col" style="width: 15%">Quantity</th>
                        <th scope="col" style="width: 15%">Price</th>
                        <th scope="col" style="width: 5%">Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for p in cart.products.all %}
                      <tr>
                        <th scope="row" style="width: 10%">{{ forloop.counter }}</th>
                        <td style="width: 55%">
                          <a href="{{p.product.get_absolute_url}}"> {{p.product.title}}</a>
                        </td>
                        <td style="width: 15%;">
                          <input style="height: 27px" class="form-control" type="number" value="{{ p.quantity }}" id="{{ p.product.id }}" onchange="validate_quantity({{ p.product.id }}, this.value)">
                        </td>
                        <td style="width: 15%">{{ p.product.price }}</td>
                        <td style="width: 5%">
{#                          <form method="POST" action="{% url 'cart:remove' %}" class="form" style="justify-content: center; display: flex;"> {% csrf_token %}#}
{#                            <input type="hidden" name="product_id" value="{{ p.product.id }}" />#}
{#                            <button title="Remove" type="submit" style="border: None; background: None"><i class="fas fa-trash-alt"></i></button>#}
{#                          </form>#}
                            <button title="Remove" style="border: None; background: None" onclick="cart_product_remove({{ p.product.id }})"><i class="fas fa-trash-alt"></i></button>
                        </td>
                      </tr>
                      {% endfor %}
                      <tr>
                        <td colspan="4"></td>
                        <td id="total_weight">Weight: {{ cart.total_weight }}</td>
                      </tr>
                      <tr>
                        <td colspan="4"></td>
                        <td id="total_price">Total: {{ cart.total_price }}</td>
                      </tr>
{#                      <tr>#}
{#                        <td colspan="4"></td>#}
{#                        <td>#}
{#                                  <form method="POST" action="{% url 'cart:checkout' %}" class="form col-md-12" style="justify-content: center; display: flex;"> {% csrf_token %}  #}
{#                          <form method="POST" action="{% url 'cart:checkout' %}" > {% csrf_token %}#}
{#                            <button type="submit" class="btn btn-lg btn-success">Checkout</button>#}
{#                          </form>#}
{#                        </td>#}
{#                      </tr>#}
                    </tbody>
                  </table>
                </div>
            </div>

    </div>

{% endblock %}