{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if request.user.staff %}
        <form enctype="multipart/form-data" class="text-center" method="POST"> {% csrf_token %}
            <div class="row">
                <div class="col-sm-2 mt-5"></div>
                <div class="col-sm-8 mt-5">
                    {{ form.as_p }}
                </div>
                <div class="col-sm-2 mt-5"></div>
            </div>
            <div class="row">
                <div class="col-sm-2 mt-1"></div>
                <div class="col-sm-2 mt-1">
                    <button class="btn btn-lg btn-dark btn-block" type="submit">Save <i class="fas fa-save"></i></button>
                </div>

            </div>
        </form>
        <!-- Dodaje klase na padajuce liste -->
        <script>
            $(document).ready(function () {
                $('#id_company').attr('class', 'form-control mb-1 custom-select')
            });
            $(document).ready(function () {
                $('#id_category').attr('class', 'form-control mb-1 custom-select')
            });
        </script>
    {% endif %}
{% endblock %}