{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4  mt-5">
                <div class="card">
                    {% if object.image %}
                        <img class="card-img-top" style='width: auto; height: 200px;' src="{{object.image.url}}" alt="{{object.title}}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{object.title}}</h5>
                        <p class="card-text">{{object.description}}</p>
                        <div class="text-center">
                            <a class="btn text-white bg-info mb-3" onclick="add_to_cart({{ object.id }})">Add to cart</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>

                {% if request.user.is_staff %}
                    <form class="text-left" method="GET" action="{% url 'products:edit' slug=object.slug %}">
                        <button type="submit" class="btn btn-dark">Edit</button>
                    </form>
                {% endif %}

            </div>
            <div class="col-sm-8  mt-5">
                <div class="container">
                    <row>
                        <div class="col-sm-12">
                            <h3 align="center" class="mb-5"><b>Product Details</b></h3>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupPrepend2" style="width: 250px"><b>Company</b></span>
                              </div>
                              <input type="text" class="form-control" id="validationDefaultUsername" disabled="true" value="{{ object.company }}">
                            </div>
                            <div class="input-group">
                              <div class="input-group-prepend" >
                                  <span class="input-group-text" id="inputGroupPrepend2" style="width: 250px"><b>Weight(kg)</b></span>
                              </div>
                              <input type="text" class="form-control" id="validationDefaultUsername" disabled="true" value="{{ object.weight }}">
                            </div>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupPrepend2" style="width: 250px"><b>Location(line-row-height)</b></span>
                              </div>
                              <input type="text" class="form-control" id="validationDefaultUsername" disabled="true" value="{{ object.location}}">
                            </div>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupPrepend2" style="width: 250px"><b>Total Number of Instances</b></span>
                              </div>
                              <input type="text" class="form-control" id="validationDefaultUsername" disabled="true" value="{{ object.quantity }}">
                            </div>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupPrepend2" style="width: 250px"><b>Code</b></span>
                              </div>
                              <input type="text" class="form-control" id="validationDefaultUsername" disabled="true" value="FGSHYTNUYKYFTGKJHK">
                            </div>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupPrepend2" style="width: 250px"><b>Category</b></span>
                              </div>
                              <input type="text" class="form-control" id="validationDefaultUsername" disabled="true" value="{{ object.category }}">
                            </div>
                        </div>
                    </row>
                </div>
            </div>
        </div>
    </div>


{% endblock %}