{% extends "base.html" %}
{% load static %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/tfl.css' %}">
{% endblock %}

{% block content %}
    <form class="form-signin text-center" method="POST" action="{% if action_url %}{{action_url}}{% endif %}" > {% csrf_token %}
      <h1 class="mb-4 font-weight-normal">
          <i class="fas fa-user"></i>
      </h1>
      {{ form.as_p }}
      <button class="btn btn-lg btn-dark btn-block" type="submit">Save</button>
    </form>
    <!-- Dodaje klase na padajucu listu -->
        <script>
            $(document).ready(function () {
                $('#id_company').attr('class', 'form-control mb-1 custom-select')
            });
        </script>
{% endblock %}