{% extends 'base.html' %}
{% load static %}

{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/tfl.css' %}">
{% endblock %}

{% block content %}
    <h1 class="mb-3">
      <i class="fas fa-dolly-flatbed"></i>
    </h1>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive-sm">
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Manifestation</th>
                        <th scope="col">Delivery - Pickup</th>
                        <th scope="col">Status</th>
                        <th scope="col">Username</th>
                        <th scope="col">Created</th>
                        <th scope="col">Order ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ obj.cart.manifestation }}</td>
                        <td>{{ obj.cart.delivery }} - {{ obj.cart.pickup }}</td>
                        <td>{{ obj.status }}</td>
                        <td>{{ obj.cart.username }}</td>
                        <td>{{ obj.timestamp }}</td>
                        <td>{{ obj.id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}