{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if request.user.staff %}
        <form enctype="multipart/form-data" class="text-center" method="POST" action="{% url 'post:add' %}"> {% csrf_token %}
            <div class="row">
                <div class="col-sm-2 mt-5"></div>
                <div class="col-sm-8 mt-5" style="text-align: left;">
                    {{ form.as_p }}
                </div>
                <div class="col-sm-2 mt-5"></div>
            </div>
            <div class="row">
                <div class="col-sm-2 mt-1"></div>
                <div class="col-sm-2 mt-1">
                    <button class="btn btn-lg btn-dark btn-block" type="submit">Submit news...</button>
                </div>

            </div>
        </form>
    {% endif %}
    <div class="card-deck">
        <div class="row">
            {% for obj in object_list %}
                <div class="col-sm-2 mt-5"></div>
                <div class="col-sm-8 mt-5">
                    {% include 'posts/snippets/card.html' with instance=obj %}
                </div>
                <div class="col-sm-2 mt-5">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_admin or request.user.is_staff %}
                        <form enctype="multipart/form-data" class="text-left" method="POST" action="{% url 'post:remove' %}"> {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ obj.id }}" />
                            <button type="submit" style="border: None; background: None; color: red;" title="Remove"><i class="fas fa-times"></i></button>
                        </form>
                    {% endif %}
                {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}