{% extends "base.html" %}
{% load static %}

{% block content %}
{#    {% if query or category %}#}
        {% include 'search/snippets/search-form.html' with category_list=all_categories q=query c=category %}
{#        <div class="mt-5">#}
{#            Results for <b>{{ query }}</b> {{ category }}#}
{#        </div>#}
{#    {% else %}#}
{#        {% include 'search/snippets/search-form.html' with category_list=all_categories %}#}
{#    {% endif %}#}
        <hr/>
        <div class="card-deck">
            {% for obj in object_list %}
                <div class="col-sm-4 mb-5">
                    {% include 'products/snippets/card.html' with instance=obj %}
                </div>
            {% endfor %}
        </div>
{% endblock %}